---
import Meta from "../components/Meta.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
---
<!DOCTYPE html>

<html lang="de_DE">
	<head>
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<Meta/>
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="img/Greffler.png" />
		<!--<link rel="icon" type="img/svg+xml" href="img/Greffler.svg">-->
		
		<script src="/js/main.js" is:inline></script>
	</head>

	<style>
		:root {

			--primary_color: #424632;
			--secondary_color: #50533c;

		}
	</style>

	<body>
		<Header />
		<Main />
		<Footer />
	</body>
</html>
