---
import Contact from "./Contact.astro";
import Astropowered from "./Astropowered.astro";
---

<footer>
    <Contact />
    <p>Diese Website befindet sich in Wartung.</p>
    <Astropowered />
</footer>