---
import Navlink from "./Navlink.astro";
---

<nav>
    <ul>
        <Navlink traget="/profile/" text="Profil"/>
        <Navlink traget="/printer/" text="3D-Drucker"/>
        <Navlink traget="/drone/" text="FPV Drone"/>
        <Navlink traget="/youtube/" text="YouTube Shorts"/>
        <Navlink traget="/imprint/" text="Impressum"/>
    </ul>
</nav>